<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up For BLogin</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css">
    <style>
      
    </style>
</head>
<body class="flex flex-col items-center justify-center min-l-screen p-4 bg-gray-700">
    <h1 class="text-3xl font-bold mb-6 text-center text-white">First Sign-Up Here...</h1>

    <div class="w-full max-w-lg border p-8 rounded-lg shadow-md bg-yellow-50 col-8">
        <form action="/signup" method="post">
            <div class="mb-4">
                <label for="name" class="block text-gray-600 mb-2">Name</label>
                <input type="text" id="name" name="username"
                    class="w-full px-3 py-2 bg-gray-200 text-gray-800 rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-500"
                    required>
            </div>
            <div class="mb-4">
                <label for="email" class="block text-gray-600 mb-2">Email</label>
                <input type="email" id="email" name="email"
                    class="w-full px-3 py-2 bg-gray-200 text-gray-800 rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-500"
                    required>
            </div>
            <div class="mb-6">
                <label for="password" class="block text-gray-600 mb-2">Password</label>
                <input type="password" id="password" name="password"
                    class="w-full px-3 py-2 bg-gray-200 text-gray-800 rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-500"
                    required>
            </div>
            
            <button type="submit"
                class="btn btn-sm py-2 px-5  py-2 bg-yellow-600 text-white font-bold rounded-lg hover:bg-yellow-500 transition duration-200">Sign
                Up</button>
        </form>
        
    </div>
    <p class="mt-4  text-white">
        Already have an account? <a href="/login" class="text-primary underline">Login</a>
    </p>
</body>


</html>
